@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold.eot');
    src: url('../fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold.woff') format('woff'),
         url('../fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto/roboto-bolditalic.eot');
    src: url('../fonts/roboto/roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bolditalic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic.woff') format('woff'),
         url('../fonts/roboto/roboto-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto/roboto-italic.eot');
    src: url('../fonts/roboto/roboto-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-italic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic.woff') format('woff'),
         url('../fonts/roboto/roboto-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light.eot');
    src: url('../fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light.woff') format('woff'),
         url('../fonts/roboto/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic.eot');
    src: url('../fonts/roboto/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-lightitalic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic.woff') format('woff'),
         url('../fonts/roboto/roboto-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium.eot');
    src: url('../fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium.woff') format('woff'),
         url('../fonts/roboto/roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto/roboto-mediumitalic.eot');
    src: url('../fonts/roboto/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-mediumitalic.woff2') format('woff2'),
         url('../fonts/roboto/roboto-mediumitalic.woff') format('woff'),
         url('../fonts/roboto/roboto-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular.eot');
    src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular.woff') format('woff'),
         url('../fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bernier_distressedregular';
    src: url('../fonts/bernier/bernierdistressed-regular.eot');
    src: url('../fonts/bernier/bernierdistressed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bernier/bernierdistressed-regular.woff2') format('woff2'),
         url('../fonts/bernier/bernierdistressed-regular.woff') format('woff'),
         url('../fonts/bernier/bernierdistressed-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bernier_regularregular';
    src: url('../fonts/bernier/bernierregular-regular.eot');
    src: url('../fonts/bernier/bernierregular-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bernier/bernierregular-regular.woff2') format('woff2'),
         url('../fonts/bernier/bernierregular-regular.woff') format('woff'),
         url('../fonts/bernier/bernierregular-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bernier_shaderegular';
    src: url('../fonts/bernier/berniershade-regular.eot');
    src: url('../fonts/bernier/berniershade-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bernier/berniershade-regular.woff2') format('woff2'),
         url('../fonts/bernier/berniershade-regular.woff') format('woff'),
         url('../fonts/bernier/berniershade-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}