figure.developer__img-wrap
	img(class='developer__img' src="assets/img/work/avatar.png" alt='Егоричев Александр')
block figcaption
	span.developer__name Егоричев Александр
	p.developer__caption Личный сайт веб разработчика
