header.header
	.header__bg
	.header__top
		.header__left
			ul.social
				include _social
		.header__right
			include _menu
			a.toggle
				span.toggle__hamburger
	.header__middle
		.developer
			include _developer
		block blog
			svg(class='header__portfolio-bg')
				use(xlink:href='assets/img/sprite.svg#portfolio_header')
									
	a(href=`#${href}` class='arrow-link arrow-link--down')
		svg(class='arrow-link__icon-down')
			use(xlink:href='assets/img/sprite.svg#arrow_down')

	block triangle
		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header__triangle">
			<polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
			<polygon points="1000,0   1000,86   500,86   500,75.5"></polygon></svg>	
