.preloader
    .preloader__progress
        .preloader__percents 0%
        svg(class='preloader__img' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='144px' height='144px' viewBox='0 0 144 144' enable-background='new 0 0 144 144' xml:space='preserve')
            circle(class='preloader__line preloader__line--outer' opacity='0.4' fill='none' stroke='#FFFFFF' stroke-width='4' stroke-miterlimit='10' enable-background='new    ' cx='72' cy='71.999' r='70')
            circle(class='preloader__line preloader__line--center' opacity='0.7' fill='none' stroke='#FFFFFF' stroke-width='3.8938' stroke-miterlimit='10' enable-background='new    ' cx='72' cy='72' r='55')
            circle(class='preloader__line preloader__line--inner' fill='none' stroke='#FFFFFF' stroke-width='4' stroke-miterlimit='10' cx='72' cy='72' r='40')