aside.sidebar
		a.sidebar__toggle
		ul.sidebar__list
			each title, i in sidebarNav
				li(class='sidebar__item')
					a(class='sidebar__link' + ((i == 0)? ' sidebar__link--active': '') href=`#article-${i+1}`)= title