.about {
	display: flex;
	flex-wrap: wrap;

	&__developer {
		width: 50%;
		background-color: #efeee9;
	}

	&__skills {
		width: 50%;
		background-color: #eeebdf;
	}

	@include tablet {
		&__developer,
		&__skills {
			width: 100%;
			padding: 35px 0;
		}
	}
}