.about {
	display: flex;
	@extend %clearfix;

	&__developer {
		float: left;
		width: 50%;
		background-color: #efeee9;
	}

	&__skills {
		float: right;
		width: 50%;
		background-color: #eeebdf;
	}
}