.blog {
	padding: 60px 0;
	background-color: #ffffff;
}

.blog__articles {
	float: left;
	max-width: 980px;
	width: 60%;
	padding-left: 60px;

	@include  tablet {
		width: 98%;
		padding-left: 15px;
	}
}
