.blog {
	display: flex;
	padding-top: 60px;
	background-color: #ffffff;
}

.blog__sidebar {
	width: 30%;

	@include tablet {
		width: 0;
	}
}

.blog__articles {
	max-width: 980px;
	width: 60%;
	padding-left: 60px;

	@include  tablet {
		width: 98%;
		padding-left: 15px;
	}
}
