.circle-progress {
	position: relative;
}

.circle-progress__img {
	display: block;
    width: 110px;
    height: 110px;
    padding: 10px;
}

.circle-progress__part--stroke {
	stroke: #dfdcd5;
}

.circle-progress__part {
	fill: none;
    stroke-width: 20px;
}

.circle-progress__part--fill {
	stroke: $circle-color;
}


.circle-progress__name {
	@extend %block-center;
	@include font(12, $r-m);
	text-align: center;
	color: $circle-color;
}