.developer {
	text-align: center;
	color: #ffffff;
}

.developer__img-wrap {
	width: 140px;
	height: 140px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 50%;
	overflow: hidden;
}

.developer__img {
	display: block;
	width: 100%;
	height: 100%;
}


.developer__name {
	@include font(35, $r-m);
	line-height: 1;

	@include tablet {
		font-size: 21px;
	}
}

.developer__caption {
	font-family: $r-l;
}

.developer--auth {
	padding: 0 10px;
	color: $color-text;
}