.developer-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 0 20px;

	&__content {
		max-width: 445px;
		color: $color-text;

		& p {
			line-height: 1.5;
		}
	}

	&__img-wrap {
		position: relative;
		height: 395px;
		margin-bottom: 25px;	
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
}


