.header {
	position: relative;
	min-height: 650px;
	background-color: #84adad;
	background-image: url("../img/background/bg-header-desktop.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.header__top {
	@extend %clearfix;
	@include container;
	margin-bottom: 70px;
	padding: 25px 0px;
}

.header__left {
	float: left;
}

.header__right {
	float: right;
}

.header__middle {
	position: relative;
	height: 100%;
}

.header__portfolio-bg {
	@extend %svg-bg;
	fill: #ffffff !important;

	@include  tablet {
		display: none;
	}
}

.header__triangle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	fill: #ffffff;

	&--gray {
		fill: #faf8f0;
	}

	&-left {
		fill: #efeee9;
	}

	&-right {
		fill: #eeebdf;

		@include  tablet {
			fill: #efeee9;
		}
	}
}