.parallax {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;

    &__layer {
        position: absolute;
        left: 50%;
        width: 2000px;
        height: 100%;
        margin-left: -1000px;

        & img {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
        }
    }
}