.preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: $green url('../img/background/bg-preloader.jpg') center no-repeat;
    background-size: cover;

    &--nojs {
        display: none;
    }
}

.preloader__progress {
    position: absolute;
    @extend %block-center;
    width: 145px;
    height: 145px;
}

.preloader__percents {
    position: absolute;
    @extend %block-center;
    font-size: 24px;
    color: #ffffff;
}

.preloader__animation {
    position: relative;
    width: 145px;
    height: 145px;
    animation: spin 2s linear infinite;

    &,
    &:before,
    &:after {
        border: 3px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
    }

    &:before {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        animation: spin 2s linear infinite;
    }

    &:after {
        top: 13px;
        right: 13px;
        bottom: 13px;
        left: 13px;
        animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}