.slider {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	min-height: 650px;
	background-color: #efebe0;
	overflow: hidden;
}

.slider__content {
	width: 50%;
	height: 100%;
	padding-top: 30px;
	background-color: #f0efe9;
	overflow: hidden;

	@include tablet {
		flex-grow: 1;
		order: 2;
		width: 100%;
		height: auto;
	}

	&-list {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&-item {
		width: 95%;
		display: none;
		text-align: center;
	}
}

.slider__skills {
	margin-bottom: 40px;
	padding: 20px 0;
	font-family: $r-m;
	text-transform: uppercase;
	color: $green;
	word-wrap: break-word;
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;
}

.slider__btn {
	position: relative;
	display: inline-block;
	padding: 17px 20px 17px 50px;
	font-family: $r-m;
	color: #ffffff;
	background-color: $green;
	border-radius: 5px;
	transition: background-color 0.4s;

	&:hover {
		background-color: $hover-green;
	}

	&-icon {
		@include svg(20px, 20px, #ffffff);
		position: absolute;
		top: 50%;
		left: 19px;
		transform: translateY(-50%);
	}
}

.slider__display {
	order: 1;
	width: 50%;
	height: 75%;

	@include tablet {
		flex-grow: 2;
		width: 100%;
		height: 260px;
	}
}

.slider__works-list {
	width: 100%;
	height: 100%;
}
.slider__works-item {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
}

.slider__works-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 90%;
	max-height: 90%;
	margin: auto;
}

.slider__controls {
	order: 2;
	display: flex;
	width: 50%;
	height: 25%;

	@include tablet {
		flex-grow: 1;
		width: 100%;
		height: 100px;
	}
}

.slider__control {
	position: relative;
	display: block;
	width: 50%;
	height: 100%;
	overflow: hidden;

	&-prev {
		background-color: #f1ede1;
	}

	&-next {
		background-color: #e3ded0;
	}

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left:0;
		background-color: rgba(#888372, 0.4);
	}

	& svg {
		position: absolute;
		top: 50%;
		left: 50%;
		@include svg(46px, 34px, #fff);
		margin-top: -23px;
		margin-left: -17px;
		transition: 0.3s;
		z-index: 20;
	}

	&:hover .slider__icon-up {
		transform: translateY(-15px);
	}

	&:hover .slider__icon-down {
		transform: translateY(15px);
	}

}

.slider__content-item--active,
.slider__works-item--active{
	display: block;
}

.slider__thumbnails-list {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider__control-next .slider__thumbnails-item {
	top: 100%;
}

.slider__thumbnails-item {
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;

	&.slider__thumbnails-item--active {
		top: 0;
	}
}

.slider__thumbnails-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin: auto;
}