.social {

	&--gray {
		.social__icon {
			fill: #555b5e;
		}
	}

	&--auth {
		text-align: center;

		.social__icon {
			fill: $green;
			opacity: 0.5;
		}
	}

	&--circle{

		.social__item {
			margin-left: 10px;
			border-radius: 50%;
			box-shadow: 0 0 0 1px #97a3a4;
			overflow: hidden;

			&:hover .social__icon,
			&:hover  {
				box-shadow: none;
				fill: #ffffff;
				background-color: transparent;
			}
		}

		.social__icon {
			@include svg(38px, 38px, #2f4347);
			background-color: rgba(#fff, 0.5);
			border-radius: 50%;
		}
	}

	&__item {
		@include i-b(bottom);
		margin-left: 30px;

		&:hover .social__icon {
			opacity: 1;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: block;
		font-size: 0;
	}

	&__icon {
		@include svg(30px, 23px, #ffffff);
		opacity: 0.5;
	}

}






