.title {
	position: relative;
	margin: 0;
	padding: 60px 0;
	@include font(63, $b-r-r);
	text-align: center;
	color: $color-title;

	@include tablet {
		font-size: 41px;
	}

	@include  mobile {
		font-size: 35px;
	}

	&--sub {
		padding: 0;
		padding-bottom: 30px;
		font-size: 2.19em;
		word-break: break-all;

		@include tablet {
			font-size: 30px;
		}

		@include mobile {
			font-size: 21px;
		}
	}

	&--works {
		background-color: $bg-title;
	}

	&--slider {
		display: inline-block;
		max-width: 350px;
		min-width: 220px;
	}

	&--developer-info {
		margin-bottom: 30px;
		padding: 0;
	}

	&--blog {
		color: #ffffff;
		padding: 0;

		.title__bg {
			fill: #ffffff;
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		padding: 0 43px;
		@include lines(#d0d2d2);
	}

	&__bg {
		@extend %svg-bg;
	}
}

