extends ../_template

block GoogleMaps
	script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtbRGoprUTdJzPe-nIebN9IaebPhA5hEk&callback=initMap')
	<script>
	|	var map;
	|	function initMap() {
	|		var Options = {
	|			center: new google.maps.LatLng(57.624650, 39.862427),
	|			zoom: 15,
	|			scrollwheel: false,
	|			disableDefaultUI: true,
	|			mapTypeId: google.maps.MapTypeId.ROADMAP,
	|			styles: [
	|     {
	|         "featureType": "landscape.natural",
	|         "elementType": "geometry.fill",
	|         "stylers": [
	|             {
	|                 "visibility": "on"
	|             },
	|             {
	|                 "color": "#e0efef"
	|             }
	|         ]
	|     },
	|     {
	|         "featureType": "poi",
	|         "elementType": "geometry.fill",
	|         "stylers": [
	|             {
	|                 "visibility": "on"
	|             },
	|             {
	|                 "hue": "#1900ff"
	|             },
	|             {
	|                 "color": "#8EF1DD"
	|             }
	|         ]
	|     },
	|     {
	|         "featureType": "landscape.man_made",
	|         "elementType": "geometry.fill"
	|     },
	|     {
	|         "featureType": "road",
	|         "elementType": "geometry",
	|         "stylers": [
	|             {
	|                 "lightness": 100
	|             },
	|             {
	|                 "visibility": "simplified"
	|             }
	|         ]
	|     },
	|     {
	|         "featureType": "road",
	|         "elementType": "labels",
	|         "stylers": [
	|             {
	|                 "visibility": "off"
	|             }
	|         ]
	|     },
	|     {
	|         "featureType": "water",
	|         "stylers": [
	|             {
	|                 "color": "#73D4C0"
	|             }
	|         ]
	|     },
	|     {
	|         "featureType": "transit.line",
	|         "elementType": "geometry",
	|         "stylers": [
	|             {
	|                 "visibility": "on"
	|             },
	|             {
	|                 "lightness": 700
	|             }
	|         ]
	|     }
	| ]
	|		};
	|		var map = new google.maps.Map(document.getElementById('map'), Options);
	|		var icon = './assets/img/icons/map_n.svg';
	|		var location = new google.maps.LatLng(57.625896, 39.879936);
	|		var mapMarker = new google.maps.Marker({
	|			position: location,
	|			map: map,
	|			title: 'Я тут',
	|			icon: icon
	|		});
	|	}
	|	google.maps.event.addDomListener(window, 'load', initMap);
	</script>

block variables
	-var title = 'Обо мне'
	-var footerMod = 'footer--opacity'
	-var href = 'about'

block triangle
	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="header__triangle">
		<polygon class = 'header__triangle-left' points='0,0   0,86   500.8,86   500.8,75.5'></polygon>
		<polygon class = 'header__triangle-right' points='1000,0   1000,86   500,86   500,75.5'></polygon>

block content
	section.about#about
		.about__developer
			.developer-info
				h1.title.title--developer-info 
					span.title__text Обо мне
					svg(class='title__bg')
						use(xlink:href='assets/img/sprite.svg#about_header')
				.developer-info__content
					.developer-info__img-wrap
						img(class='developer-info__img' src='assets/img/work/developer.jpg' alt=)
					h2.title.title--sub 
						span.title__text Кто я
					p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.about__skills
			.skills
				h2.title.title--sub
					span.title__text Чем я могу быть<br> вам полезен
				p.skills__intro Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

				each item in skillsList
					.skills__group
						h3.skills__group-title= item.title
						ul.skills__list
							each val in item.name
								li.skills__item
									.circle-progress
										svg.circle-progress__img(height='100%', width='100%')
											circle.circle-progress__part.circle-progress__part--stroke(cx='50%', cy='50%', r='50%')
											circle.circle-progress__part.circle-progress__part--fill(cx='50%', cy='50%', r='50%')
										span.circle-progress__name= val

block map
	section.contacts
		.contacts__map#map
		.contacts__window
			h2.title.title--sub
				span.title__text Контакты
			ul.contacts__list
				li.contacts__item
					svg(class='contacts__icon')
						use(xlink:href='assets/img/sprite.svg#skype')
					a(class='contacts__link' href='skype:Alexander Chev' target='_blank') Alexander Chev
					
				li.contacts__item
					svg(class='contacts__icon')
						use(xlink:href='assets/img/sprite.svg#envelope')
					a(class='contacts__link' href='mailto:alexchev92@gmail.com' target='_blank') alexchev92@gmail.com
				li.contacts__item
					svg(class='contacts__icon')
						use(xlink:href='assets/img/sprite.svg#phone')
					a(class='contacts__link' href='tel:89108189723' target='_blank') 8 910 818 97 23
				li.contacts__item
					svg(class='contacts__icon')
						use(xlink:href='assets/img/sprite.svg#map_marker')
					a.contacts__link Ярославль